@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-image: url('./assets/bg.avif');
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.title {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #0a3d62;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 40px;
 
}

.game-board {
  padding: 135px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px rgba(6, 146, 123, 0.3);
  background: #73839182;
}

.board-row:after {
  content: "";
  display: table;
  align-items: center;
  clear: both;
}

.square {
  background: #fff;
  border: 2px solid #0a3d62;
  float: left;
  font-size: 32px;
  font-weight: bolder;
  color: rgb(148, 29, 100);  
  display:flex;
  justify-content: center;
  line-height: 50px;
  height: 100px;
  width: 100px;
  margin: 5px;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 8px #0f5b64;
  transition: transform 0.25s ease;
}

.square:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.status {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #30455e;
}

.game-info {
  margin-top: 20px;
}

button {
  background: rgb(135, 54, 89);
  box-shadow: #04385d;;
  padding: 10px 20px;
  font-size: 16px;
  color:#f8f8f8;
  margin-top:50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background: #a85b76;
}
